table[class*=url-table], table[class*=engine-table] {
  min-width: 100%;
  border: 1px solid #333;
  overflow: hidden;
  padding-bottom: 20px;

  > thead {
    background-color: #f3f4f6;
  }

  > tbody{
    > tr{
      >td {
        padding: 0.1rem 1rem;
        font-weight: 600;
      }
      >[class*=success] {
        color: #16a34a;
      }

      >[class*=error] {
        color: #dc2626;
      }
    }
  }
}